@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto+Mono:wght@400;600&display=swap');

body {
  font-family: var(--font-sans);
  color: var(--text-default);
  background-color: var(--bg-default);
}

.ds-header {
  max-width: 100%;
}
